input[type="text"]{
    color: rgb(185, 51, 102);
    background-color: chocolate;
}
input[type="password"]{
    color: red;
    background-color: blueviolet
;
}
/* ^= for "https"
   *= for google
   $= for .com" */
label{
    color: rgb(184, 11, 54);
}
h1{
    background-color: cadetblue;
}