h1{
    
    border:3px solid red;
    padding-left: 130px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
    background-color: rgb(51, 119, 150);
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
}